:root {
  --font-family: 'Roboto', 'Arial', sans-serif;

  --color-primary: #ffffff;
  --color-primary-inverted: #000000;
  --color-font-basic: #222222;
  --color-bg-basic: #f0f4f8;
  --color-accent: #cce8ff;
  --color-bg-button: #008bfe;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: var(--color-bg-basic);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
}
